@model PeliculasTESH.Models.Peliculas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Peliculas detalle completo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PeliculasID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PeliculasID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classification)
        </dd>

    </dl>
</div>
<div>
    @Html.Partial("Detailss",Model)
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PeliculasID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
