@model IEnumerable<PeliculasTESH.Models.Peliculas>

    @{
        ViewBag.Title = "Inicio";
    }

    <h2>Inicio</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classification)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classification)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.PeliculasID }) |
                @Html.ActionLink("Details", "Details", new { id=item.PeliculasID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.PeliculasID })
            </td>
        </tr>
    }

    </table>

@*@model IEnumerable<PeliculasTESH.Models.Peliculas>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    @Html.DisplayNameFor(models => models.Title)
    <br />
    <br />
    @foreach (var items in Model)
    {
        @Html.DisplayFor(item => items.Title); 
        @Html.ActionLink("Detalles |","Details",new { id = items.PeliculasID})
        @Html.ActionLink("| Editar Registro", "Edit", new { id = items.PeliculasID})
        @Html.ActionLink("| Eliminar Registro","Delete",new { id = items.PeliculasID})
        <br />
        
    }
    <br />
    <br />
    @Html.ActionLink("Crear Película Nueva", "Create");
</div>*@
